<div class="wcc-container">
<header><h1>Parkbook</h1></header>
<main>
You need to login via Slack: <%= link_to 'Do it!', '/auth/slack' %>, or <%= link_to 'Force login!', '/force-login' %>
</main>
</div>